@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset & Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

:root {
  --box-shadow-1: 0 4 6 0 rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 10 15 0 rgba(0, 0, 0, 0.1);

  --positive-currency-color: #1976d2;
  --primary-color: #1976d2;
  --primary-color: #333;
  --border-color: #e7e1d555;
  --secondary-color: #e7e1d5;
  --tertiary-color: #16463f;
  --accent-color: #eac1c6;
  --color-4: #6d7179;

  --log-out: #f76c6c;
  --danger-color: #ff4d4f;

  --page-bg: #eeeeee;
  --heading-color: #111827;
  --text-color: #4b5563;

  --header-height: 3.5em;

  font-size: 10px;
}

:disabled {
  cursor: not-allowed;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Albert Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;

  background-color: var(--page-bg);

  cursor: url('cursor.png') 0 0, auto;
}

input,
textarea,
select,
option {
  padding: 0.75em;
  font-size: 1em;
  font-family: 'Albert Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  outline: none;
  resize: none;
  border: 0.1em solid var(--border-color);
  color: var(--text-color);
  border-radius: 0.75em;
  background-color: white;
}

input::placeholder {
  color: #aaa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance:textfield;
  -moz-appearance:textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p, a {
  font-size: 1.2em;
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: 'Albert Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  font-size: 0.875em;
  transition: 0.2s scale;
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}

form button {
  justify-self: center;
  padding: 0.5em 2em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5em;
  min-width: 15em;
  height: 2.5em;
}

button:active {
  scale: 0.98;
}

button:disabled {
  background-color: var(--border-color);
}

label {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.875em;
  display: grid;
  gap: 0.75em;
}

h1 {
  font-size: 2em;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  width: max-content;
}

thead {
  position:  sticky;
  top: 0;
  z-index: 1;
}

th {
  text-align: left;
  padding: 0.65em 1em;
  color: var(--heading-color);
  font-size: 1em;
  background-color: var(--border-color);
}

td {
  text-align: left;
  border: 0.1px solid var(--border-color);
  padding: 0.65em;
  color: var(--heading-color);
  font-size: 0.875em;
}

td input,
td select {
  padding: 0.5em;
  width: 100%;
}

tr:nth-child(even) {
  background-color: var(--page-bg);
}


@media (max-width: 500px) {
}
