.Homepage {
  height: 100vh;
  background-color: var(--secondary-color);
  overflow: auto;
}

.Homepage main {
  display: grid;
  grid-template-columns: 25em 1fr;
  min-height: calc(100vh - var(--header-height));
}

.Homepage__Left {
  --heading-color: white;
  --text-color: white;

  background-color: var(--primary-color);
  position: sticky;
  top: var(--header-height);
  padding: 2em 1.5em;
  display: grid;
  align-content: start;
  gap: 1em;
}

.Homepage__Left h2 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
}

.Homepage__Left ul {
  display: grid;
  gap: 0.75em;
}

.Homepage__Left ul li a {
  display: block;
  background-color: #444;
  padding: 0.5em;
  font-size: 1.24em;
  border-radius: 0.5em;
}

.Homepage__Hero {
  background-color: var(--tertiary-color);
  padding: 5em 4em;
  --text-color: white;
}

.Homepage__Hero img {
  width: 5em;
  height: 5em;
  border-radius: 50em;
  margin-bottom: 1em;
  border: 0.25em solid var(--secondary-color);
}

.Homepage__Hero h1 {
  color: var(--secondary-color);
  font-size: 4em;
  line-height: 1.2;
}

.Homepage__Hero input {
  --text-color: #222;
  width: 100%;
  padding: 1em;
  margin: 2em 0 0;
  font-size: 1.4em;
}

.Homepage__Design_Options ul {
  padding: 2em;
  display: grid;
  grid-auto-columns: max-content;
}

.Homepage__Design_Options ul li button {
  font-size: 1.1em;
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  border-radius: 1em;
  --heading-color: var(--tertiary-color);
  text-align: left;
}

.Homepage__Design_Options_White {
  width: 25em;
  height: 12em;
  background-color: #eee;
  margin-bottom: 1em;
}
