.NewDocumentDesignSection__Pages {
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color);
}

.NewDocumentDesignSection__Page {
  margin: 10em;
  background-color: white;
  display: grid;
  align-content: start;
  justify-items: start;
  overflow: hidden;
  position: relative;
  user-select: text;
  outline: none;
}

.NewDocumentDesignSection__Row {
  --border-color: var(--secondary-color);
  border-style: dotted;
  border-color: var(--border-color);
  width: 100%;
  display: grid;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.NewDocumentDesignSection__Row_Columns {
  display: grid;
  grid-auto-flow: column;
}

.NewDocumentDesignSection__Row_Options button,
.NewDocumentDesignSection__Column_Options button,
.NewDocumentDesignSection__Component_Options button {
  border: none;
  padding: 0.25em;
  cursor: default;
}

.NewDocumentDesignSection__Column {
  --border-color: var(--accent-color);
  border-style: dotted;
  border-color: var(--border-color);
  display: grid;
  gap: 1em;
  cursor: pointer;
  outline: none;
}

.NewDocumentDesignSection__Row_Components {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  position: relative;
  cursor: pointer;
  align-content: start;
}
