.Header {
  --border-color: #555;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  border-bottom: 0.001em solid var(--border-color);
  height: var(--header-height);
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  padding: 0 1em;
}

.Header__Logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: baseline;
  gap: 0.75em;
}

.Header__Logo h2 {
  color: var(--secondary-color);
}

.Header__Logo p {
  color: white;
  font-size: 1em;
}
